{% extends 'base.html' %}

{% block content %}

    <h2>{{ theme.name }}</h2>
    <p>Tem certeza que deseja apagar este tema?</p>

    <div class="btn group">

        <form action="{{ url_for('routes.themes_delete', theme_id=theme._id) }}" method="POST">

            <a href="{{ url_for('routes.themes_index') }}" class="btn btn-outline-dark">Cancelar</a>
            <button type="submit" class="btn btn-danger">Apagar</button>

        </form>

    </div>

{% endblock %}