

{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='themes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
{% endblock %}

{% block content %}

    <h2>{{ title_label }}</h2>

    <form method="POST">

        {{ form.csrf_token }}

        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
        </div>

        <div class="form-group colors">
            {{ form.color.label }}
            <table class="table table-sm table-borderless">
                <tr>
                    {% for subfield in form.color %}
                        <td align="center">
                            <label class="radio-container">
                                {{ subfield() }}
                                <span class="color-checkmark" data-toggle="tooltip" data-placement="top"
                                      title='{{ subfield.label.text }}'
                                      style="background-color: {{ subfield.data }};"></span>
                            </label>
                        </td>
                    {% endfor %}
                </tr>
            </table>
        </div>

        <button type="submit" class="btn btn-insert">{{ button_label }}</button>

    </form>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}

