{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='themes.css') }}">
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-10">
                <h2 class="section-title">Temas</h2>
            </div>

            <div class="col-md-2">
                <a href="{{ url_for('routes.themes_create') }}" class="btn btn-create">Novo Tema</a>
            </div>
        </div>

        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tema</th>
                    <th scope="col">Última atualização</th>
                    <th scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for theme in themes %}
                    <tr>
                        <th scope="row"><span class="circle" style="background-color: {{ theme.color }}" ;></span></th>
                        <td width="60.5%"><a class="row-name"
                                             href="{{ url_for('routes.themes_read', theme_id=theme._id ) }}">{{ theme.name }}</a>
                        </td>
                        <td>{{ theme.last_update_date }}</td>
                        <td>
                            <a href="{{ url_for('routes.themes_update', theme_id=theme._id) }}" class="btn btn-edit">Editar</a>
                            <a class="btn btn-delete" data-toggle="modal" data-target="#delete-theme{{ theme._id }}">Apagar</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% for theme in themes %}
        <!-- Modal -->
        <div class="modal fade" id="delete-theme{{ theme._id }}" tabindex="-1" role="dialog"
             aria-labelledby="delete-theme" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Aviso</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Tem certeza que deseja apagar este tema?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <form action="{{ url_for('routes.themes_delete', theme_id=theme._id) }}" method="POST">
                            <button type="submit" class="btn btn-delete">Apagar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}