{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='themes.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
{% endblock %}

{% block content %}

    <div class="card">

        <div class="card-body">
            <h2 class="card-title">{{ theme.name }}</h2>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h6>Última atualização:</h6>
                <ul>
                    <li>{{ theme.last_update_date }}</li>
                </ul>
            </li>
        </ul>

    </div>

{% endblock %}