{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
<!-- Quill stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}

{% block content %}

<h2>{{ title_label }}</h2>

<form method="POST" enctype="multipart/form-data">

    {{ form.csrf_token }}

    <div class="form-group">
        {{ form.description.label }}
        {{ form.description(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.url_image.label }}
        {{ form.url_image(class="form-control-file") }}
    </div>

    <div class="form-group">
        {{ form.order_no.label }}
        {{ form.order_no(class="form-control-file") }}
    </div>

    <button type="submit" class="btn btn-insert">{{ button_label }}</button>

</form>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

</<script !src="">

{% endblock %}
