{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2 class="section-title">Slideshows</h2>
        </div>

        <div class="col-md-2">
            <a href="{{ url_for('routes.slide_create',text_id = text_id) }}" class="btn btn-create">Novo Slide</a>
        </div>

    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Slide</th>
                    <th scope="col">Última atualização</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for slide in slides %}
                <tr>
                    <td width="65%"><a class="row-name" href="{{ url_for('routes.slide_read', slide_id=slide._id ) }}">{{ slide.description }}</a></td>
                    <td>{{ slide.last_update_date }}</td>
                    <td>
                        <a href="{{ url_for('routes.slide_update', slide_id=slide._id) }}" class="btn btn-edit">Editar</a>
                        <a class="btn btn-delete" data-toggle="modal" data-target="#delete-slide{{slide._id}}">Apagar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% for slide in slides %}
<!-- Modal -->
<div class="modal fade" id="delete-slide{{slide._id}}" tabindex="-1" role="dialog" aria-labelledby="delete-slide" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Aviso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja apagar este slide?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <form action="{{url_for('routes.slide_delete', slide_id=slide._id)}}" method="POST">
                    <button type="submit" class="btn btn-delete">Apagar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}

