{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
{% endblock %}

{% block content %}

    <div class="card">

        <div class="card-header">
            <h2>Slide número: {{ slide.order_no }}</h2>
        </div>

        <div class="row">
            <div class="col-md-7">
                <div class="container">
                    <p class="card-text">{{ slide.description | safe }}</p>
                </div>
            </div>
            <div class="col-md-5">
                <img class="card-img-top image-div" src="{{ slide.url_image }}">
            </div>
        </div>

        <div class="card-footer">
            <h6>Última atualização:</h6> {{ slide.last_update_date }}
        </div>
    </div>

{% endblock %}