{% extends 'base.html' %}

{% block content %}

    <h2>{{ text.title }}</h2>
    <p>Tem certeza que deseja apagar este texto?</p>

    <div class="btn group">

        <form action="{{ url_for('routes.texts_delete', text_id=text._id) }}" method="POST">

            <a href="{{ url_for('routes.texts_index') }}" class="btn btn-outline-dark">Cancelar</a>
            <button type="submit" class="btn btn-danger">Apagar</button>

        </form>

    </div>

{% endblock %}