{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='texts.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
<!-- Quill stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}

{% block content %}

<h2>{{ title_label }}</h2>

<form method="POST" enctype="multipart/form-data">
    
    {{ form.csrf_token }}
    
    <div class="form-group">
        {{ form.title.label }}
        {{ form.title(class="form-control") }}
    </div>
    
    <div class="form-group">
        {{ form.url_image.label }}
        {{ form.url_image(class="form-control-file") }}
    </div>


    <div class="form-group">
        {{ form.abstract_intro.label }}
        <div id="editor_intro" class="editor" style="background-color: white;">
        </div>
        {{ form.abstract_intro(id="abstract_intro", class="form-control", style="display: none;") }}
    </div>
    
    <div class="form-group">
        {{ form.abstract.label }}
        <div id="editor" class="editor" style="background-color: white;">
        </div>
        {{ form.abstract(id="abstract", class="form-control", style="display: none;") }}
    </div>
    
    <div class="form-group">
        {{ form.themes.label }}
        <div class="form-check">
            <select name='themes' id='themes' multiple='multiple'>
                {% for subfield in form.themes %}
                {{ subfield }}    
                {{ subfield.label }}
                {% endfor %}
            </select>
        </div>
    </div>        
    
    <div class="form-group">
        {{ form.methodologies.label }}
        <div class="form-check">
            <select name='methodologies' id='methodologies' multiple='multiple'>
                {% for subfield in form.methodologies %}
                {{ subfield }}    
                {{ subfield.label }}
                {% endfor %}
            </select>
        </div>
    </div>
    
    <div class="form-group">
        {{ form.paper_link.label }}
        {{ form.paper_link(class="form-control") }}
    </div>
    
    <div class="form-group">
        {{ form.abstract_authors.label }}
        <div class="form-check">
            <select name='abstract_authors' id='abstract_authors' multiple='multiple'>
                {% for subfield in form.abstract_authors %}
                {{ subfield }}    
                {{ subfield.label }}
                {% endfor %}
            </select>
        </div>
    </div>
    
    <div class="form-group">
        {{ form.study_relevance.label }}
        
        <table class="table table-sm table-borderless">
            {% for subfield in form.study_relevance %}
            <tr>
                <td>
                    <label class="radio-container">
                        {{ subfield() }}
                        <span class="color-checkmark" data-toggle="tooltip" data-placement="top" title='{{ subfield.label.text }}'></span>
                        {{ subfield.label.text }}
                    </label>
                </td>
            </tr>            
            {% endfor %}
        </table>
    </div>        
    
    <button type="submit" class="btn btn-insert">{{ button_label }}</button>
    
</form>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

{% endblock %}

{% block js %}
<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="{{ url_for('static', filename='jquery.multi-select.js') }}"></script>

<script>
    $('#themes').multiSelect({ keepOrder: true, selectableHeader: "<div class='select-header'>Opções</div>", selectionHeader: "<div class='select-header'>Seleções</div>"});
    $('#methodologies').multiSelect({ keepOrder: true, selectableHeader: "<div class='select-header'>Opções</div>", selectionHeader: "<div class='select-header'>Seleções</div>"});
    $('#abstract_authors').multiSelect({ keepOrder: true, selectableHeader: "<div class='select-header'>Opções</div>", selectionHeader: "<div class='select-header'>Seleções</div>"});
</script>

<script>
    var toolbarOptions = [
    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
    ['blockquote'],
    [{ 'header': 1 }, { 'header': 2 }],               // custom button values
    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
    [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
    [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
    [{ 'font': [] }],
    [{ 'align': [] }],
    ['clean'],                                        // remove formatting button
    ['image'],
    ];

    criarEditor('editor_intro', 'abstract_intro');
    criarEditor('editor', 'abstract');

    function criarEditor(idEditor, idTextArea) {
        var quill = new Quill('#' + idEditor, {
            modules: {
                toolbar: toolbarOptions
            },
            theme: 'snow'
        });

        quill.root.innerHTML = document.getElementById(idTextArea).value;

        quill.on('text-change', function(delta, oldDelta, source) {
            if (source == 'user') {
                var text = quill.root.innerHTML;
                document.getElementById(idTextArea).value = text;
            }
        });
    }
</script>

{% endblock %}