{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='texts.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    
    <div class="row">        
        <div class="col-md-10">
            <h2 class="section-title">Textos</h2>
        </div>
        
        <div class="col-md-2">
            <a href="{{ url_for('routes.texts_create') }}" class="btn btn-create">Novo Texto</a>
        </div>
        
    </div>
    
    <div class="row">        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Texto</th>
                    <th scope="col">Última atualização</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for text in texts %}            
                <tr>
                    <td width="65%"><a class="row-name" href="{{ url_for('routes.texts_read', text_id=text._id ) }}">{{ text.title }}</a></td>
                    <td>{{ text.last_update_date }}</td>
                    <td>
                        <a href="{{ url_for('routes.texts_update', text_id=text._id) }}" class="btn btn-edit">Editar</a>
                        <a class="btn btn-delete" data-toggle="modal" data-target="#delete-text{{text._id}}">Apagar</a>
                        <a href="{{ url_for('routes.slideshow_index', text_id=text._id) }}" class="btn btn-edit">Slideshow</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>        
    </div>
</div>

{% for text in texts %}
<!-- Modal -->
<div class="modal fade" id="delete-text{{text._id}}" tabindex="-1" role="dialog" aria-labelledby="delete-text" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Aviso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja apagar este texto?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <form action="{{url_for('routes.texts_delete', text_id=text._id)}}" method="POST">
                    <button type="submit" class="btn btn-delete">Apagar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}