{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='texts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
{% endblock %}

{% block content %}

    <div class="card">

        <div class="card-header">
            <h2>{{ text.title }}</h2>
            <b>Autores:</b>
            {% for author in authors %}
                {{ author.name }}
                {% if not loop.last %}, {% endif %}
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-md-7">
                <div class="container">
                    <p class="card-text">{{ text.abstract_intro | safe }}</p>

                </div>
            </div>
            <div class="col-md-5">
                <img class="card-img-top image-div" src="{{ text.url_image }}">
            </div>
            <div class="col-md-7">
                <div class="container">
                    <p class="card-text">{{ text.abstract | safe }}</p>
                    <b>Link para o artigo:</b> <a href="{{ text.paper_link }}">{{ text.paper_link }}</a>
                </div>
            </div>
        </div>

        <ul class="list-group list-group-flush">

            <li class="list-group-item">
                <h6>Temas:</h6>
                <ul>
                    {% for theme in themes %}
                        <li>{{ theme.name }}</li>
                    {% endfor %}
                </ul>
            </li>

            <li class="list-group-item">
                <h6>Metodologias:</h6>
                <ul>
                    {% for methodology in methodologies %}
                        <li>{{ methodology.name }}</li>
                    {% endfor %}
                </ul>
            </li>

            <li class="list-group-item">
                <h6>Nível de Evidência:</h6>
                <ul>
                    {% if text.study_relevance == "1" %}
                        <li>Melhor evidência possível</li>
                    {% endif %}
                    {% if text.study_relevance == "2" %}
                        <li>Melhor evidência disponível mas não possível</li>
                    {% endif %}
                    {% if text.study_relevance == "3" %}
                        <li>Existem evidências de maior nível disponível</li>
                    {% endif %}
                </ul>
            </li>
        </ul>

        <div class="card-footer">
            <h6>Última atualização:</h6> {{ text.last_update_date }}
        </div>
    </div>

{% endblock %}