{% extends 'base.html' %}

{% block content %}

    <h2>{{ methodology.name }}</h2>
    <p>Tem certeza que deseja apagar esta metodologia?</p>

    <div class="btn group">

        <form action="{{ url_for('routes.methodologies_delete', methodology_id=methodology._id) }}" method="POST">

            <a href="{{ url_for('routes.methodologies_index') }}" class="btn btn-outline-dark">Cancelar</a>
            <button type="submit" class="btn btn-danger">Apagar</button>

        </form>

    </div>

{% endblock %}
