{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='methodologies.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='thermometer.css') }}">
    <!-- Quill stylesheet -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <h2>{{ title_label }}</h2>

    <form method="POST">

        {{ form.csrf_token }}

        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.text.label }}
            <div id="editor" style="background-color: white;">
            </div>
            {{ form.text(id="text", class="form-control", style="display: none;") }}
        </div>

        <div class="form-group">
            {{ form.authors.label }}
            <div class="form-check">
                <select name='authors' id='authors' multiple='multiple'>
                    {% for subfield in form.authors %}
                        {{ subfield }}
                        {{ subfield.label }}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            {{ form.thermometer.label }}
            <div class='thermo-container'>
                <input id="thermometer" name="thermometer" type="range" min="1" max="100" style="display: none;">
                <div class='anchor'></div>
                <div class='meter'>
                    <div class='step info' data-attr="info"></div>
                    <div class='step warning' data-attr="warning"></div>
                    <div class='step minor' data-attr="minor"></div>
                    <div class='step major' data-attr="major"></div>
                    <div class='step critical' data-attr="critical"></div>
                </div>
                <div class='severity'></div>
            </div>
        </div>
        <button type="submit" class="btn btn-insert">{{ button_label }}</button>

    </form>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='jquery.multi-select.js') }}"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="{{ url_for('static', filename='thermometer.js') }}"></script>
    <script>
        var thermometer_value = {{ form.thermometer.data }};
        var severity = $(".severity");
        var anchor = $(".anchor");
        var step_info = $(".step.info");
        var step_warning = $(".step.warning");
        var step_minor = $(".step.minor");
        var step_major = $(".step.major");
        var step_critical = $(".step.critical");

        if (thermometer_value <= 1) {
            severity.text("Muito baixa");
            var target = step_info;
        }
        if (thermometer_value == 2) {
            severity.text("Baixa");
            step_info.removeClass().addClass("step warning");
            step_info.toggleClass(step_info.data("attr"), true);
            var target = step_warning;
        }
        if (thermometer_value == 3) {
            severity.text("Média");
            step_info.removeClass().addClass("step minor");
            step_info.toggleClass(step_info.data("attr"), true);
            step_warning.removeClass().addClass("step minor");
            var target = step_minor;
        }
        if (thermometer_value == 4) {
            severity.text("Alta");
            step_info.removeClass().addClass("step major");
            step_info.toggleClass(step_info.data("attr"), true);
            step_warning.removeClass().addClass("step major");
            step_minor.removeClass().addClass("step major");
            var target = step_major;
        }
        if (thermometer_value >= 5) {
            severity.text("Muito alta");
            step_info.removeClass().addClass("step critical");
            step_info.toggleClass(step_info.data("attr"), true);
            step_warning.removeClass().addClass("step critical");
            step_minor.removeClass().addClass("step critical");
            step_major.removeClass().addClass("step critical");
            var target = step_critical;
        }

        anchor.show().animate({
            left: (target.position().left + (target.width()/2) - 1) + "px"
        }, 300);    
    </script>

    <script>
        $('#authors').multiSelect({
            keepOrder: true,
            selectableHeader: "<div class='select-header'>Opções</div>",
            selectionHeader: "<div class='select-header'>Seleções</div>"
        });
    </script>

    <script>
        var toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
            ['blockquote'],
            [{'header': 1}, {'header': 2}],               // custom button values
            [{'list': 'ordered'}, {'list': 'bullet'}],
            [{'script': 'sub'}, {'script': 'super'}],      // superscript/subscript
            [{'indent': '-1'}, {'indent': '+1'}],          // outdent/indent
            [{'size': ['small', false, 'large', 'huge']}],  // custom dropdown
            [{'header': [1, 2, 3, 4, 5, 6, false]}],
            [{'color': []}, {'background': []}],          // dropdown with defaults from theme
            [{'font': []}],
            [{'align': []}],
            ['clean']                                         // remove formatting button
        ];

        var quill = new Quill('#editor', {
            modules: {
                toolbar: toolbarOptions
            },
            theme: 'snow'
        });

        quill.root.innerHTML = document.getElementById("text").value;

        quill.on('text-change', function (delta, oldDelta, source) {
            if (source == 'user') {
                var text = quill.root.innerHTML;
                document.getElementById("text").value = text;
            }
        });
    </script>
{% endblock %}