{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='methodologies.css') }}">
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-10">
                <h2 class="section-title">Metodologias</h2>
            </div>

            <div class="col-md-2">
                <a href="{{ url_for('routes.methodologies_create') }}" class="btn btn-create">Nova Metodologia</a>
            </div>

        </div>

        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Metodologia</th>
                    <th scope="col">Última atualização</th>
                    <th scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for methodology in methodologies %}
                    <tr>
                        <td width="65%"><a class="row-name"
                                           href="{{ url_for('routes.methodologies_read', methodology_id=methodology._id ) }}">{{ methodology.name }}</a>
                        </td>
                        <td>{{ methodology.last_update_date }}</td>
                        <td>
                            <a class="btn btn-edit"
                               href="{{ url_for('routes.methodologies_update', methodology_id=methodology._id ) }}">Editar</a>
                            <a class="btn btn-delete" data-toggle="modal"
                               data-target="#delete-methodologies{{ methodology._id }}">Apagar</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% for methodology in methodologies %}
        <!-- Modal -->
        <div class="modal fade" id="delete-methodologies{{ methodology._id }}" tabindex="-1" role="dialog"
             aria-labelledby="delete-methodologies" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Aviso</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Tem certeza que deseja apagar esta metodologia?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <form action="{{ url_for('routes.methodologies_delete', methodology_id=methodology._id) }}"
                              method="POST">
                            <button type="submit" class="btn btn-delete">Apagar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}