{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='methodologies.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
{% endblock %}

{% block content %}

    <div class="card">

        <div class="card-body">
            <h2 class="card-title">{{ methodology.name }}</h2>
            <p class="card-text">{{ methodology.text | safe }}</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h6>Autores:</h6>
                <ul>
                    {% for author in authors %}
                        <li>{{ author.name }}</li>
                    {% endfor %}
                </ul>
            </li>

            <li class="list-group-item">
                <h6>Grau de Evidência:</h6>
                <ul>
                    {% if methodology.thermometer == 1 %}
                        <li>Muito baixo</li>
                    {% endif %}
                    {% if methodology.thermometer == 2 %}
                        <li>Baixo</li>
                    {% endif %}
                    {% if methodology.thermometer == 3 %}
                        <li>Médio</li>
                    {% endif %}
                    {% if methodology.thermometer == 4 %}
                        <li>Alto</li>
                    {% endif %}
                    {% if methodology.thermometer == 5 %}
                        <li>Muito alto</li>
                    {% endif %}
                </ul>
            </li>

            <li class="list-group-item">
                <h6>Última atualização:</h6>
                <ul>
                    <li>{{ methodology.last_update_date }}</li>
                </ul>
            </li>
        </ul>

    </div>

{% endblock %}