<div class="row">
    <div class="col-md-12">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Bem-vindo(a)!</h1>
                <p class="lead">As seções para registro e atualização dos dados se encontram na barra de navegação
                    acima. Nas divisórias abaixo, você encontra relatórios sobre o uso do aplicativo por parte dos
                    usuários.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2>Sessões e Usuários</h2>
                <div id="chart-1-container"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2>Visualizações por Página</h2>
                <div id="chart-2-container"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2>Usuários nos últimos 30 dias</h2>
                <div id="chart-3-container"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2>Usuários por cidade</h2>
                <div id="chart-4-container"></div>
            </div>
        </div>
    </div>
</div>

<script>
    (function (w, d, s, g, js, fs) {
        g = w.gapi || (w.gapi = {});
        g.analytics = {
            q: [], ready: function (f) {
                this.q.push(f);
            }
        };
        js = d.createElement(s);
        fs = d.getElementsByTagName(s)[0];
        js.src = 'https://apis.google.com/js/platform.js';
        fs.parentNode.insertBefore(js, fs);
        js.onload = function () {
            g.load('analytics');
        };
    }(window, document, 'script'));
</script>

<script>
    gapi.analytics.ready(function () {

        /**
         * Authorize the user with an access token obtained server side.
         */
        gapi.analytics.auth.authorize({
            'serverAuth': {
                'access_token': '{{ token }}'
            }
        });

        /**
         * Creates a new DataChart instance showing sessions over the past 30 days.
         * It will be rendered inside an element with the id "chart-1-container".
         */
        var dataChart1 = new gapi.analytics.googleCharts.DataChart({
            query: {
                'ids': 'ga:185732289', // <-- Replace with the ids value for your view.
                'start-date': '30daysAgo',
                'end-date': 'yesterday',
                'metrics': 'ga:sessions,ga:users',
                'dimensions': 'ga:date'
            },
            chart: {
                'container': 'chart-1-container',
                'type': 'LINE',
                'options': {
                    'width': '100%'
                }
            }
        });
        dataChart1.execute();

        /**
         * Creates a new DataChart instance showing top 5 most popular demos/tools
         * amongst returning users only.
         * It will be rendered inside an element with the id "chart-3-container".
         */
        var dataChart2 = new gapi.analytics.googleCharts.DataChart({
            query: {
                'ids': 'ga:185732289', // <-- Replace with the ids value for your view.
                'start-date': '30daysAgo',
                'end-date': 'today',
                'metrics': 'ga:screenviews',
                'dimensions': 'ga:screenName',
                'sort': '-ga:screenviews',
                'filters': 'ga:pagePathLevel1!=/',
                'max-results': 7
            },
            chart: {
                'container': 'chart-2-container',
                'type': 'PIE',
                'options': {
                    'width': '100%',
                    'pieHole': 4 / 9,
                }
            }
        });
        dataChart2.execute();

        /**
         * Creates a new DataChart instance showing sessions over the past 30 days.
         * It will be rendered inside an element with the id "chart-1-container".
         */
        var dataChart3 = new gapi.analytics.googleCharts.DataChart({
            query: {
                'ids': 'ga:185732289', // <-- Replace with the ids value for your view.
                'start-date': '30daysAgo',
                'end-date': 'yesterday',
                'metrics': 'ga:sessions,ga:users',
                'dimensions': 'ga:userType'
            },
            chart: {
                'container': 'chart-3-container',
                'type': 'PIE',
                'options': {
                    'width': '100%',
                    'pieHole': 4 / 9,
                }
            }
        });
        dataChart3.execute();

        /**
         * Creates a new DataChart instance showing sessions over the past 30 days.
         * It will be rendered inside an element with the id "chart-1-container".
         */
        var dataChart4 = new gapi.analytics.googleCharts.DataChart({
            query: {
                'ids': 'ga:185732289', // <-- Replace with the ids value for your view.
                'start-date': '30daysAgo',
                'end-date': 'yesterday',
                'metrics': 'ga:sessions,ga:users',
                'dimensions': 'ga:city'
            },
            chart: {
                'container': 'chart-4-container',
                'type': 'PIE',
                'options': {
                    'width': '100%',
                    'pieHole': 4 / 9,
                }
            }
        });
        dataChart4.execute();

        /**
         * Creates a new DataChart instance showing sessions over the past 30 days.
         * It will be rendered inside an element with the id "chart-1-container".
         */
        var dataChart5 = new gapi.analytics.googleCharts.DataChart({
            query: {
                'ids': 'ga:185732289', // <-- Replace with the ids value for your view.
                'start-date': '30daysAgo',
                'end-date': 'yesterday',
                'metrics': 'ga:sessions,ga:users',
                'dimensions': 'ga:userGender'
            },
            chart: {
                'container': 'chart-5-container',
                'type': 'PIE',
                'options': {
                    'width': '100%',
                    'pieHole': 4 / 9,
                }
            }
        });
        dataChart5.execute();

    });
</script>
