<div class="jumbotron">
    <h1 class="display-4">Bem-Vindo!</h1>
    <p class="lead">ao Gerenciador de dados do Evident.</p>
    <hr class="my-4">
    <p>Você poderá entrar no sistema após o registro do seu Email pelo administrador.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('routes.users_login') }}" role="button">Entrar</a>
</div>