<nav class="navbar navbar-expand-sm navbar-fixed-top">
    <a href="/" class="navbar-brand" style="color: inherit; text-decoration: none">Evident</a>

    {% if session.get('user') %}

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('routes.themes_index') }}">Temas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('routes.methodologies_index') }}">Metodologias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('routes.texts_index') }}">Textos</a>
            </li>

            {% if session['user']['admin'] %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('routes.users_index') }}">Usuários</a>
                </li>
            {% endif %}
        </ul>

        <div class="dropdown">
            <a class="btn btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ session['user']['name'] }}
            </a>

            <div class="dropdown-menu">
                <a class="dropdown-item"
                   href="{{ url_for('routes.users_read', user_id=session['user']['id']) }}">Ver Perfil</a>
                <a class="dropdown-item"
                   href="{{ url_for('routes.users_update', user_id=session['user']['id']) }}">Editar</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('routes.users_logout') }}">Sair</a>
            </div>
        </div>

    {% else %}

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('routes.users_login') }}">Entrar</a>
            </li>
        </ul>

    {% endif %}

</nav>