{% extends 'base.html' %}

{% block content %}

    <h2>{{ title_label }}</h2>

    <form method="POST">

        {{ form.csrf_token }}

        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.confirm.label }}
            {{ form.confirm(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.about.label }}
            {{ form.about(class="form-control") }}
        </div>

        <button class="btn btn-insert" type="submit">{{ button_label }}</button>

    </form>



{% endblock %}