{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='users.css') }}">
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-10">
                <h2 class="section-title">Usuários</h2>
            </div>

            <div class="col-md-2">
                <a href="{{ url_for('routes.users_new') }}" class="btn btn-create">Novo Usuário</a>
            </div>

        </div>

        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Administrador</th>
                    <th scope="col">Cadastrado</th>
                    <th scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td width="30%"><a class="row-name"
                                           href="{{ url_for('routes.users_read', user_id=user._id ) }}">{{ user.name }}</a>
                        </td>
                        <td>{{ user.email }}</td>

                        {% if user.admin %}
                            <td><i class="fas fa-check"></i></td>
                        {% else %}
                            <td><i class="fas fa-times"></i></td>
                        {% endif %}

                        {% if 'password' in user %}
                            <td><i class="fas fa-check"></i></td>
                        {% else %}
                            <td><i class="fas fa-times"></i></td>
                        {% endif %}

                        <td>
                            <button class="btn btn-edit" data-toggle="modal" data-target="#admin-users{{ user._id }}"
                                    {% if user.admin %} disabled {% endif %}>Tornar Administrador
                            </button>
                            <button class="btn btn-delete" data-toggle="modal" data-target="#delete-users{{ user._id }}"
                                    {% if user.admin and not user._id|string() == session['user']['id'] %}
                                    disabled {% endif %}>
                                Apagar
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    {% for user in users %}
        <!-- Modal -->
        <div class="modal fade" id="admin-users{{ user._id }}" tabindex="-1" role="dialog"
             aria-labelledby="admin-users" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Aviso</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Tem certeza que deseja tornar este usuário um Administrador? Esta ação não poderá ser desfeita.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <form action="{{ url_for('routes.users_admin', user_id=user._id) }}" method="POST">
                            <button type="submit" class="btn btn-edit">Tornar Administrador</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

    {% for user in users %}
        <!-- Modal -->
        <div class="modal fade" id="delete-users{{ user._id }}" tabindex="-1" role="dialog"
             aria-labelledby="delete-users" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Aviso</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Tem certeza que deseja apagar este usuário?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <form action="{{ url_for('routes.users_delete', user_id=user._id) }}"
                              method="POST">

                            <button type="submit" class="btn btn-delete">Apagar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}