{% extends 'base.html' %}

{% block content %}

    <h2>Entrar</h2>

    <form method="POST">

        {{ form.csrf_token }}

        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-insert">Entrar</button>
        </div>

    </form>

    <p class="text-center">
        Se você possui um Email registrado pelo Administrador no sistema, complete seu <a
            href="{{ url_for('routes.users_verify') }}">cadastro</a> antes de entrar.
    </p>

{% endblock %}