{% extends 'base.html' %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{{ user.name }}</h2>
            <h6 class="card-subtitle mb-2 text-muted">{{ user.email }}</h6>
            <p class="card-text">{{ user.about }}</p>
        </div>
    </div>

{% endblock %}