{% extends 'base.html' %}

{% block content %}

    <h2>Registrar Usuário</h2>

    <form method="POST">
        {{ form.csrf_token }}

        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
        </div>

        <div class="form-group form-check">
            {{ form.admin(class="form-check-input") }}
            {{ form.admin.label(class="form-check-label") }}
        </div>

        <button type="submit" class="btn btn-insert">Registrar</button>
    </form>

{% endblock %}