{% extends 'base.html' %}

{% block content %}

    <h2>{{ title_label }}</h2>

    <form method="POST">

        {{ form.csrf_token }}

        <div class="form-group">

            {{ form.email.label }}
            {{ form.email(class='form-control') }}
        </div>

        <button type="submit" class="btn btn-insert">{{ button_label }}</button>

    </form>

{% endblock %}