
.navbar { 
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #c5dff9;
}

.nav-item .nav-item:hover, .nav-item:active, .nav-item:visited {
    text-decoration: none;
    color: #000000 !important;

}

.section-title {
    font-family: 'IBM Plex Sans', sans-serif;
}

.card-themes {
    background-color: #C7B7AF;
}

.card-methodologies {
    background-color: #55B8AC;
}

.card-texts {
    background-color: #05BADC;
}

.card-users{
    background-color: #ACC4CC;
}

.navbar h3 {
    color: black;
}

