@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.navbar-nav .nav-link {
    color: black !important;
}

.card-title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.btn-create, .btn-create:hover, .btn-create:active, .btn-create:visited {
    background-color: #e2e2e2 !important;
    color: black !important;
    width: 100%;
    border-color: black !important;
}

.btn-insert, .btn-insert:hover, .btn-insert:active, .btn-insert:visited {
    background-color: #e2e2e2 !important;
    color: black !important;
    width: 20%;
    margin-left: 40%;
    border-color: black !important;
}

.btn-edit, .btn-edit:hover, .btn-edit:active, .btn-edit:visited {
    background-color: #94b6ec !important;
    color: black !important;
}

.btn-delete, .btn-delete:hover, .btn-delete:active, .btn-delete:visited {
    background-color: rgb(247, 136, 136) !important;
    color: black !important;
}

.row-name, .row-name:hover, .row-name:active, .row-name:visited {
    text-decoration: none;
    color: black;
}

body {
    background-color: #f4f4f4 !important;
}