.navbar {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #55B8AC !important;        
}

.select-header{
    background-color: #f4f4f4;
}

.editor {
    background-color: white;
}

.form-check {
    margin-left: 0px !important;
    padding-left: 0px !important;
}