.navbar {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #05BADC !important;        
}

.select-header{
    background-color: #f4f4f4;
}

.image-div{
    padding: 30px;
    height: auto;
    width: 70%;
}

/* The radio-container */
.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.color-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: white;
    border: 1px black solid;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .color-checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .color-checkmark {
    background-color: gray;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.color-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .color-checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .color-checkmark:after {
 	top: 3px;
	left: 3px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: white;
}

.form-check {
    margin-left: 0px !important;
    padding-left: 0px !important;
}