.thermo-container {
	width: 20%;
	position: relative;
}

.thermo-container .severity {
    font-family: 'IBM Plex Sans', sans-serif;
	display: block;
	float: right;
}

.anchor {
	display: none;
	background: #ebeff2;
	position: absolute;
	height: 1rem;
	width: 0.175rem;
	left: 0%;
	top: 0.5rem;
	content: " ";
	color: #000;
	z-index: 3;
}

.meter {
	display: flex;
	height: 2rem;
	flex-flow: row nowrap;
}

.meter .step {
	position: relative;
	flex: 1 1 auto;
	background-color: red;
	opacity: 0.9;
	color: #fff;
	text-align: center;
}

.meter .step:before {
	position: absolute;
	content: " ";
	width: 100%;
	height: 1px;
	top: 50%;
	left: 0%;
	background: #f0f0f0;
	opacity: 0.75;
}

.meter .step:after {
	position: absolute;
	content: " ";
	right: 50%;
	background-color: #dfdfdf;
	width: 1px;
	height: 0.75rem;
	top: 0.625rem;
	opacity: 1;
}

.meter .step:first-child {
	border-radius: 90% 0 0 90%;
}

.meter .step:first-child:before {
	width: 50%;
	left: 50%;
}

.meter .step:last-child {
	border-radius: 0 90% 90% 0%;
}

.meter .step:last-child:before {
	width: 50%;
	right: 50%;
}

.meter .step.info {
	background-color: #67729C;
}

.meter .step.warning {
	background-color: #B2C3E4;
	position: relative;
	z-index: 2;
	display: block;
}

.meter .step.minor {
	background-color: #F1D829;
}

.meter .step.major {
	background-color: #E4844C;
}

.meter .step.critical {
	background-color: #B84335;
}

.meter .step + .step {
	margin-left: 0px;
}